In [1]:
import pandas as pd

In [2]:
df_origin = pd.read_csv('../Datasets/galaxy_users.csv')
df_origin

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7028,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7029,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7030,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7031,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

# Q1

In [4]:
df1 = df_origin.copy()
df1.shape

(7032, 21)

In [5]:
df1.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [6]:
col_service = ['OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']

In [7]:
df1[col_service]

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,No,Yes,No,No,No,No
1,Yes,No,Yes,No,No,No
2,Yes,Yes,No,No,No,No
3,Yes,No,Yes,Yes,No,No
4,No,No,No,No,No,No
...,...,...,...,...,...,...
7027,Yes,No,Yes,Yes,Yes,Yes
7028,No,Yes,Yes,No,Yes,Yes
7029,Yes,No,No,No,No,No
7030,No,No,No,No,No,No
7031,Yes,No,Yes,Yes,Yes,Yes

##### Yes, No가 아닌것 처리

In [8]:
df1[col_service].apply(lambda x : x.unique())

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,No,Yes,No,No,No,No
1,Yes,No,Yes,Yes,Yes,Yes
2,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service

###### Yes No 가 아닌것 개수

In [13]:
(df1[col_service].apply(lambda x : x == 'No internet service').sum(axis=1) >= 1).sum()

1520

In [19]:
to_be_deleted_no_internet = df1[col_service].apply(lambda x : x == 'No internet service').sum(axis=1) >= 1
to_be_deleted_no_internet

0       False
1       False
2       False
3       False
4       False
        ...
7027    False
7028    False
7029    False
7030    False
7031    False
Length: 7032, dtype: bool

In [29]:
df1 = df1.loc[~to_be_deleted_no_internet]
df1.shape

(5512, 21)

In [30]:
df1[col_service].head(1)

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,No,Yes,No,No,No,No

In [31]:
%who

col_service	 df1	 df_origin	 pd	 to_be_deleted_no_internet

In [34]:
df_yes_no = df1[col_service].applymap(lambda x : 1 if x == 'Yes' else 0)
df_yes_no

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,0,1,0,0,0,0
1,1,0,1,0,0,0
2,1,1,0,0,0,0
3,1,0,1,1,0,0
4,0,0,0,0,0,0
...,...,...,...,...,...,...
7027,1,0,1,1,1,1
7028,0,1,1,0,1,1
7029,1,0,0,0,0,0
7030,0,0,0,0,0,0
7031,1,0,1,1,1,1

In [35]:
df_yes_no_services = df_yes_no.sum(axis=1)
df_yes_no_services

0       1
1       2
2       2
3       3
4       0
       ..
7027    5
7028    4
7029    1
7030    0
7031    5
Length: 5512, dtype: int64

In [40]:
n_1 = len(df_yes_no_services[df_yes_no_services == 1])
n_1

966

In [41]:
n_6 = len(df_yes_no_services[df_yes_no_services == 6])
n_6

284

In [49]:
round((n_1/n_6), 2)

3.4

In [46]:
(n_1/n_6).round(2)

AttributeError: 'float' object has no attribute 'round'

In [48]:
type((n_1/n_6))

float

In [50]:
type(round((n_1/n_6), 2))

float

# Q2

In [60]:
df2 = df_origin.copy()

In [61]:
df2.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

##### 동명 이인 확인

In [62]:
df2['customerID'].unique().shape

(7032,)

In [63]:
df2.shape

(7032, 21)

In [64]:
col_corr = ['tenure', 'MonthlyCharges', 'UseMonth']

In [67]:
df2['UseMonth'] = df2['TotalCharges'] // df2['MonthlyCharges']

In [68]:
df2[col_corr]

      tenure  MonthlyCharges  UseMonth
0          1           29.85       1.0
1         34           56.95      33.0
2          2           53.85       2.0
3         45           42.30      43.0
4          2           70.70       2.0
...      ...             ...       ...
7027      24           84.80      23.0
7028      72          103.20      71.0
7029      11           29.60      11.0
7030       4           74.40       4.0
7031      66          105.65      64.0

[7032 rows x 3 columns]

In [70]:
df2[col_corr].corr()

                  tenure  MonthlyCharges  UseMonth
tenure          1.000000        0.246862  0.998831
MonthlyCharges  0.246862        1.000000  0.246164
UseMonth        0.998831        0.246164  1.000000

In [71]:
round(0.998831, 3)

0.999

In [72]:
df2[col_corr].corr().replace(1, 0)

                  tenure  MonthlyCharges  UseMonth
tenure          0.000000        0.246862  0.998831
MonthlyCharges  0.246862        0.000000  0.246164
UseMonth        0.998831        0.246164  0.000000

In [73]:
df2[col_corr].corr().replace(1, 0).idxmax()

tenure            UseMonth
MonthlyCharges      tenure
UseMonth            tenure
dtype: object

In [75]:
df2[col_corr].corr()['tenure'][1:].round(3).sort_values()[-1]

0.999

# Q3

In [101]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score

In [102]:
df3 = df_origin.copy()

In [103]:
df3.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [104]:
seed = 123
col_X = ['SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'MonthlyCharges', 'TotalCharges', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingMovies']
col_Y = 'Churn'

In [123]:
X = df3[col_X].copy()
y = df3[col_Y].copy()

In [124]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = seed)

In [125]:
X_train, X_test, y_train, y_test

(      SeniorCitizen Partner Dependents  tenure  MonthlyCharges  TotalCharges  \
 1975              0      No         No      10           95.25       1021.55
 5476              0      No         No       1           50.75         50.75
 198               0     Yes        Yes      72          112.25       8041.65
 6317              0      No         No      62           43.60       2748.70
 1300              1     Yes         No      15           85.60       1345.55
 ...             ...     ...        ...     ...             ...           ...
 5218              0      No         No       7           96.20        639.70
 4060              0     Yes         No      68           79.60       5515.80
 1346              0     Yes        Yes      11           20.45        250.80
 3454              0     Yes         No      48          100.05       4834.00
 3582              0     Yes         No       9           69.05        653.95

            OnlineSecurity         OnlineBackup     DeviceProtection  \
 1975                   No                  Yes                  Yes
 5476                  Yes                   No                   No
 198                    No                  Yes                  Yes
 6317                   No                  Yes                  Yes
 1300                   No                   No                   No
 ...                   ...                  ...                  ...
 5218                   No                   No                   No
 4060                  Yes                  Yes                   No
 1346  No internet service  No internet service  No internet service
 3454                   No                   No                  Yes
 3582                   No                  Yes                  Yes

               TechSupport      StreamingMovies
 1975                   No                  Yes
 5476                   No                   No
 198                   Yes                  Yes
 6317                   No                  Yes
 1300                   No                  Yes
 ...                   ...                  ...
 5218                   No                  Yes
 4060                  Yes                  Yes
 1346  No internet service  No internet service
 3454                  Yes                  Yes
 3582                   No                  Yes

 [5274 rows x 11 columns],
       SeniorCitizen Partner Dependents  tenure  MonthlyCharges  TotalCharges  \
 6819              0      No         No      35           20.20        684.40
 364               0      No         No      18           75.90       1373.05
 2062              1     Yes         No      65          103.15       6792.45
 6953              0     Yes         No      49           56.30       2780.60
 4860              0     Yes         No      37           99.50       3762.00
 ...             ...     ...        ...     ...             ...           ...
 6381              0     Yes        Yes      70          106.15       7475.10
 3922              0     Yes        Yes      50           44.80       2230.85
 2506              1     Yes         No      29           90.10       2656.70
 301               1      No         No       4           95.45        396.10
 5612              0     Yes         No       3           74.75        229.50

            OnlineSecurity         OnlineBackup     DeviceProtection  \
 6819  No internet service  No internet service  No internet service
 364                    No                   No                   No
 2062                   No                  Yes                  Yes
 6953                   No                  Yes                   No
 4860                   No                   No                  Yes
 ...                   ...                  ...                  ...
 6381                   No                  Yes                  Yes
 3922                   No                   No                   No
 2506                  Yes                   No                  Yes
 301                    No                   No                   No
 5612                   No                   No                   No

               TechSupport      StreamingMovies
 6819  No internet service  No internet service
 364                   Yes                   No
 2062                   No                  Yes
 6953                  Yes                  Yes
 4860                   No                  Yes
 ...                   ...                  ...
 6381                  Yes                  Yes
 3922                   No                   No
 2506                   No                  Yes
 301                    No                  Yes
 5612                   No                   No

 [1758 rows x 11 columns],
 1975     No
 5476     No
 198      No
 6317     No
 1300    Yes
        ...
 5218     No
 4060     No
 1346     No
 3454     No
 3582     No
 Name: Churn, Length: 5274, dtype: object,
 6819     No
 364      No
 2062     No
 6953     No
 4860    Yes
        ...
 6381     No
 3922     No
 2506     No
 301     Yes
 5612    Yes
 Name: Churn, Length: 1758, dtype: object)

In [126]:
col_cate = X_train.select_dtypes(exclude='number').columns
col_cate

Index(['Partner', 'Dependents', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingMovies'],
      dtype='object')

In [127]:
X_train[col_cate] = X_train[col_cate].applymap(lambda x : 1 if x == 'Yes' else (0 if x == 'No' else -1))

D:\anaconda\envs\samsung374\lib\site-packages\pandas\core\frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [128]:
X_train

,SeniorCitizen,Partner,Dependents,tenure,MonthlyCharges,TotalCharges,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies
1975,0,0,0,10,95.25,1021.55,0,1,1,0,1
5476,0,0,0,1,50.75,50.75,1,0,0,0,0
198,0,1,1,72,112.25,8041.65,0,1,1,1,1
6317,0,0,0,62,43.60,2748.70,0,1,1,0,1
1300,1,1,0,15,85.60,1345.55,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5218,0,0,0,7,96.20,639.70,0,0,0,0,1
4060,0,1,0,68,79.60,5515.80,1,1,0,1,1
1346,0,1,1,11,20.45,250.80,-1,-1,-1,-1,-1
3454,0,1,0,48,100.05,4834.00,0,0,1,1,1
3582,0,1,0,9,69.05,653.95,0,1,1,0,1

In [129]:
X_test[col_cate] = X_test[col_cate].applymap(lambda x : 1 if x == 'Yes' else (0 if x == 'No' else -1))

In [130]:
scaler = MinMaxScaler()

In [131]:
X_train_scaler = scaler.fit_transform(X_train)
X_train_scaler

array([[0. , 0. , 0. , ..., 1. , 0.5, 1. ],
       [0. , 0. , 0. , ..., 0.5, 0.5, 0.5],
       [0. , 1. , 1. , ..., 1. , 1. , 1. ],
       ...,
       [0. , 1. , 1. , ..., 0. , 0. , 0. ],
       [0. , 1. , 0. , ..., 1. , 1. , 1. ],
       [0. , 1. , 0. , ..., 1. , 0.5, 1. ]])

In [132]:
X_test_scaler = scaler.fit_transform(X_test)
X_test_scaler

array([[0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0.5, 1. , 0.5],
       [1. , 1. , 0. , ..., 1. , 0.5, 1. ],
       ...,
       [1. , 1. , 0. , ..., 1. , 0.5, 1. ],
       [1. , 0. , 0. , ..., 0.5, 0.5, 1. ],
       [0. , 1. , 0. , ..., 0.5, 0.5, 0.5]])

In [133]:
model_lr = LogisticRegression(random_state=seed)

In [ ]:
model_lr.fit(X_train_scaler, y_)