In [48]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.tree import DecisionTreeRegressor
df_origin = pd.read_csv('../Datasets/card_cust.csv')
df_origin

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0.0,2.0,1000.0,201.802084,139.509787,0.000000,12.0
1,10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4.0,0.0,7000.0,4103.032597,1072.340217,0.222222,12.0
2,10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0.0,12.0,7500.0,622.066742,627.284787,0.000000,12.0
3,10004,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1.0,1.0,7500.0,0.000000,NaN,0.000000,12.0
4,10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0.0,1.0,1200.0,678.334763,244.791237,0.000000,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,11029,1250.394614,0.909091,443.99,443.99,0.00,0.000000,0.272727,0.272727,0.000000,0.000000,0.0,3.0,3500.0,273.823646,259.715939,0.000000,11.0
996,11030,9.503968,1.000000,96.62,0.00,96.62,0.000000,1.000000,0.000000,1.000000,0.000000,0.0,19.0,4500.0,1086.932525,92.217936,0.250000,12.0
997,11031,2285.068731,1.000000,0.00,0.00,0.00,1173.310874,0.000000,0.000000,0.000000,0.166667,5.0,0.0,2500.0,381.672065,1003.265207,0.000000,12.0
998,11032,2928.756699,1.000000,160.92,0.00,160.92,319.931964,1.000000,0.000000,1.000000,0.333333,5.0,12.0,3000.0,1142.847203,1098.479834,0.000000,12.0
999,11033,1460.178578,1.000000,937.96,100.00,837.96,0.000000,1.000000,0.083333,1.000000,0.000000,0.0,40.0,1500.0,1186.859701,1320.855292,0.000000,12.0

In [49]:
df_origin.isna().sum(axis = 0)

CUST_ID                              0
BALANCE                              0
BALANCE_FREQUENCY                    0
PURCHASES                            0
ONEOFF_PURCHASES                     0
INSTALLMENTS_PURCHASES               0
CASH_ADVANCE                         0
PURCHASES_FREQUENCY                  0
ONEOFF_PURCHASES_FREQUENCY           0
PURCHASES_INSTALLMENTS_FREQUENCY     0
CASH_ADVANCE_FREQUENCY               0
CASH_ADVANCE_TRX                     0
PURCHASES_TRX                        0
CREDIT_LIMIT                         0
PAYMENTS                             0
MINIMUM_PAYMENTS                    74
PRC_FULL_PAYMENT                     0
TENURE                               0
dtype: int64

In [50]:
df_origin['MINIMUM_PAYMENTS'] = df_origin['MINIMUM_PAYMENTS'].fillna(df_origin['MINIMUM_PAYMENTS'].mean())

# Q1

In [51]:
df = df_origin.copy()

In [52]:
df[['CREDIT_LIMIT', 'BALANCE']].corr().iloc[0, 1]

0.46764597335688873

In [53]:
TENURES = df['TENURE'].unique()

In [54]:
corrs=[]
for n in TENURES:
    _df = df.loc[df['TENURE'] == n, ['CREDIT_LIMIT', 'BALANCE']]
    _stat_corr = _df.corr().iloc[0, 1]
    corrs.append(_stat_corr)

round(max(corrs), 2)

0.95

# Q2

In [55]:
df = df_origin.copy()

In [56]:
s_cust_id = df.pop('CUST_ID')
s_cust_id

0      10001
1      10002
2      10003
3      10004
4      10005
       ...
995    11029
996    11030
997    11031
998    11032
999    11033
Name: CUST_ID, Length: 1000, dtype: int64

In [57]:
df

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0.0,2.0,1000.0,201.802084,139.509787,0.000000,12.0
1,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4.0,0.0,7000.0,4103.032597,1072.340217,0.222222,12.0
2,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0.0,12.0,7500.0,622.066742,627.284787,0.000000,12.0
3,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1.0,1.0,7500.0,0.000000,1297.116322,0.000000,12.0
4,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0.0,1.0,1200.0,678.334763,244.791237,0.000000,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1250.394614,0.909091,443.99,443.99,0.00,0.000000,0.272727,0.272727,0.000000,0.000000,0.0,3.0,3500.0,273.823646,259.715939,0.000000,11.0
996,9.503968,1.000000,96.62,0.00,96.62,0.000000,1.000000,0.000000,1.000000,0.000000,0.0,19.0,4500.0,1086.932525,92.217936,0.250000,12.0
997,2285.068731,1.000000,0.00,0.00,0.00,1173.310874,0.000000,0.000000,0.000000,0.166667,5.0,0.0,2500.0,381.672065,1003.265207,0.000000,12.0
998,2928.756699,1.000000,160.92,0.00,160.92,319.931964,1.000000,0.000000,1.000000,0.333333,5.0,12.0,3000.0,1142.847203,1098.479834,0.000000,12.0
999,1460.178578,1.000000,937.96,100.00,837.96,0.000000,1.000000,0.083333,1.000000,0.000000,0.0,40.0,1500.0,1186.859701,1320.855292,0.000000,12.0

In [65]:
scaler = StandardScaler()
df_scaler = scaler.fit_transform(df)

In [66]:
seed = 1234

In [67]:
scores = []
for k in range(2, 6):
    model_km = KMeans(n_clusters=k, random_state=seed)
    model_km.fit(df_scaler)
    score = silhouette_score(df_scaler, model_km.labels_)
    
    scores = scores + [score]

In [68]:
scores

[0.30752815304560793,
 0.19636128772937608,
 0.20715098494639902,
 0.19274056144483248]

In [69]:
model_km = KMeans(n_clusters=2, random_state=seed)
model_km.fit(df_scaler)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=1234, tol=0.0001, verbose=0)

In [70]:
df['cluster'] = model_km.labels_

In [72]:
df.groupby("cluster")['ONEOFF_PURCHASES'].mean().round(2)

cluster
0     340.23
1    3946.19
Name: ONEOFF_PURCHASES, dtype: float64

# Q3`

In [73]:
df = df_origin.copy()

In [74]:
seed

1234

In [75]:
df_train = df[df['CUST_ID'] % 4 != 0]
df_test = df[df['CUST_ID'] % 4 == 0]

In [76]:
y_train = df_train.pop('ONEOFF_PURCHASES')
y_test = df_test.pop('ONEOFF_PURCHASES')

In [80]:
df_train = df_train.drop(columns='CUST_ID')
df_test = df_test.drop(columns='CUST_ID')

## model

In [81]:
model_dtr = DecisionTreeRegressor(random_state=seed)

In [82]:
model_dtr.fit(df_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1234, splitter='best')

In [83]:
y_pred = model_dtr.predict(df_test)

In [84]:
y_pred

array([1.508540e+03, 0.000000e+00, 1.494500e+03, 0.000000e+00,
       0.000000e+00, 3.628670e+03, 0.000000e+00, 1.795600e+02,
       0.000000e+00, 8.863700e+02, 2.040000e+02, 0.000000e+00,
       7.123000e+02, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       3.200300e+02, 1.386400e+03, 5.719100e+02, 5.000000e+00,
       4.789090e+03, 1.282850e+03, 3.260200e+02, 0.000000e+00,
       0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       6.159900e+02, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       9.695600e+02, 0.000000e+00, 4.076125e+04, 0.000000e+00,
       0.000000e+00, 1.234000e+03, 7.585200e+02, 6.099160e+03,
       1.674000e+02, 0.000000e+00, 0.000000e+00, 3.161460e+03,
       2.220390e+03, 0.000000e+00, 0.000000e+00, 3.081600e+02,
       0.000000e+00, 1.096710e+03, 2.870000e+02, 3.725330e+03,
       8.242100e+02, 0.000000e+00, 1.674000e+02, 3.628670e+03,
       1.383740e+03, 1.101760e+03, 0.000000e+00, 1.174390e+03,
       1.776400e+02, 5.786600e+02, 0.000000e+00, 0.000000e+00,
       1.013200e+03, 1.234000e+03, 6.300400e+03, 4.076125e+04,
       3.755700e+02, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       0.000000e+00, 0.000000e+00, 1.136700e+03, 4.199600e+02,
       2.870000e+02, 0.000000e+00, 1.265700e+02, 2.097700e+02,
       0.000000e+00, 2.506890e+03, 1.013200e+03, 4.330530e+03,
       2.327490e+03, 1.776400e+02, 0.000000e+00, 4.577300e+02,
       3.515400e+02, 6.159900e+02, 4.452000e+02, 0.000000e+00,
       0.000000e+00, 2.643530e+03, 0.000000e+00, 2.000000e+01,
       0.000000e+00, 1.020000e+02, 0.000000e+00, 0.000000e+00,
       1.996500e+02, 1.818100e+02, 4.206000e+02, 3.617300e+02,
       2.074160e+03, 0.000000e+00, 1.130000e+02, 1.386400e+03,
       0.000000e+00, 2.459800e+02, 2.506890e+03, 1.494500e+03,
       1.229000e+03, 4.288000e+01, 2.900000e+02, 0.000000e+00,
       1.687290e+03, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       1.653980e+03, 6.529400e+02, 0.000000e+00, 7.394400e+02,
       0.000000e+00, 1.777140e+03, 2.000000e-02, 0.000000e+00,
       5.256400e+02, 3.436530e+03, 3.000000e+02, 1.486600e+02,
       3.725330e+03, 0.000000e+00, 6.402630e+03, 4.330530e+03,
       2.262300e+02, 0.000000e+00, 3.756010e+03, 0.000000e+00,
       2.700700e+02, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       2.475930e+03, 2.870000e+02, 1.013370e+04, 0.000000e+00,
       0.000000e+00, 3.300000e+02, 0.000000e+00, 1.130000e+02,
       0.000000e+00, 3.725330e+03, 2.820000e+01, 1.038810e+03,
       0.000000e+00, 4.820300e+02, 2.124750e+03, 4.113800e+02,
       0.000000e+00, 0.000000e+00, 4.001410e+03, 3.262250e+03,
       4.645000e+02, 4.503310e+03, 0.000000e+00, 3.529880e+03,
       3.617300e+02, 0.000000e+00, 1.979220e+03, 1.741300e+03,
       0.000000e+00, 0.000000e+00, 1.174390e+03, 4.001410e+03,
       0.000000e+00, 7.694000e+01, 0.000000e+00, 2.904890e+03,
       5.856300e+02, 3.016980e+03, 1.098310e+03, 0.000000e+00,
       0.000000e+00, 2.426430e+03, 0.000000e+00, 0.000000e+00,
       0.000000e+00, 7.666100e+02, 0.000000e+00, 8.902000e+02,
       2.804000e+02, 1.307160e+03, 8.173200e+02, 2.800000e+01,
       0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       1.670500e+03, 1.106000e+01, 0.000000e+00, 0.000000e+00,
       1.486600e+02, 7.694000e+01, 3.617300e+02, 0.000000e+00,
       0.000000e+00, 0.000000e+00, 0.000000e+00, 1.386400e+03,
       0.000000e+00, 2.052750e+03, 3.529880e+03, 0.000000e+00,
       0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       3.000000e+02, 3.016980e+03, 7.480000e+01, 2.216100e+02,
       3.132700e+02, 7.394400e+02, 3.183000e+03, 6.159900e+02,
       2.399780e+03, 1.505000e+02, 1.169630e+03, 1.674000e+02,
       7.280270e+03, 0.000000e+00, 7.341100e+02, 2.503200e+02,
       1.307160e+03, 8.730000e+02, 0.000000e+00, 6.514000e+02,
       2.303297e+04, 7.694000e+01, 2.804000e+02, 1.540410e+03,
       0.000000e+00, 1.402930e+03, 0.000000e+00, 0.000000e+00])

In [86]:
((y_pred - y_test)**2).mean() ** 0.5

2383.7871118099138